html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

/* body {
    padding-top: 100px; 
}
@media (min-width: 980px) {
    body {
        padding-top: 50px;
    }    
} */

header{
    padding: 20px;
    font-size: 2.2rem;
    line-height: 30%;
    text-align: center;
}

h1 {
    font-size: 32px;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
  }

  button {
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

/* Start navbar CSS */
.navbar {
    background-color: #383E4C;
    border-color: #383E4C;
    text-align: center;
    /* position: fixed;
    top: 0px;
    width: 100%; */
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar li a {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    padding: 10px 25px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.navbar li a:hover {
    background: #49505F;
}

/* End navbar CSS */

/* Start Blog Area CSS */
#blog-area {

}

.blog-content {
    max-width: 555px;
    background-color: whitesmoke;
}
/* End Blog Area CSS */



/* Start Services CSS */

#services-area {
    background-image: url("../img/bg-1.jpg");
    background-attachment: fixed;
    height: 300px;
    color: white;
}

#services {
    padding-top: 5%;
    line-height: 1.5;
}

/* End Services CSS */

/* Start Testimonial CSS */

#testimonial {
        margin: 60px 0;
        display: inline-block;
}

#testimonial-row {
    display: inline-flex;
    background-color: white;
}

.testimonial-content {
    /* background-color: white; */
    height: auto;
    max-width: 260px;
    margin: 0 auto 30px;
    padding: 0px 15px;
    background-color: #f2f2f2;
  }

  .testimonial-content p {
    padding: 10px 10px;
    text-align: left;

  }

.testimonial-text {
    background-color: #f2f2f2;
}

  .content-link {
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.content-link:hover,
.content-link:focus {
    background: #E6E6E6 none repeat scroll 0 0;
}

#column {
    display: block;
    justify-content: center;
    /* padding: 10px; */
    background-color: #f2f2f2;
    margin: 10px 12%;
}

h2 {
    color: #49505F;
}

#column-content {
    text-align: left;
    padding: 30px;
}

/* End Testimonial CSS */


/* Start Contact CSS */
#contact h1 {
    color: white;
    font-size: 32px;
}

#contact {
    background-image: url("../img/bg-2.jpg");
    background-attachment: fixed;
    padding: 30px 0px;
}


#contact-p {
    background: rgba(242, 242, 242, 0.5) none repeat scroll 0 0;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px 15px;
    text-align: center;
    /* width: 75%; */
}
#contact p {
    padding: 0 20%;
}

.form {
    margin-bottom: 15px;
    width: 75%;
    background: rgba(242, 242, 242, 0.5);
    border: none;
}

#form-button {
    background: #262628 none repeat scroll 0 0;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 12px;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
/* End Contact CSS */

/* Start Footer CSS */
hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    margin-bottom: 30px;
}

#footer-area h1 {
    color: #666;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 35px;
}

.footer {
    color: #999;
    font-style: italic;
    margin-bottom: 30px;
}


.copyright {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}
/* End Footer CSS */