html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: rgb(95, 99, 109);
    border-color: rgb(95, 99, 109);
    text-align: center;
}

.navbar li a {
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    list-style: none;
    color: white;
    margin: 10px;
}

