html {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: rgb(95, 99, 109);
    border-color: rgb(95, 99, 109);
    display: inline-block;
    padding: 10px;
}